*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    background-color: rgb(74, 91, 97);
    color: whitesmoke;
}

.top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 20vh;
    background-color: rgb(83, 97, 74);
    color: whitesmoke;
}
