<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Cafe</title>
</head>

<body>
    <form action="" method="post">
        <label>name</label> <input type="text" name="name">
        <label>map url</label> <input type="text" name="map_url">
        <label>img url</label> <input type="text" name="img_url">
        <label>loc</label> <input type="text" name="loc">
        <label>sockets</label> <input type="text" name="sockets">
        <label>toilet</label> <input type="text" name="toilet">
        <label>wifi</label> <input type="text" name="wifi">
        <label>calls</label> <input type="text" name="calls">
        <label>seats</label> <input type="text" name="seats">
        <label>coffee price</label> <input type="text" name="coffee_price">
        <input type="submit" value="Submit">
    </form>
</body>

</html>