{% extends 'bootstrap/base.html' %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <style>form{margin-left: 20px;} label{min-width: 100px;}</style>
{% endblock %}

{% block title %}Add Movie{% endblock %}

{% block content %}
<div class="content">
    <h1 class="heading">Add a Movie</h1>
</div>
<form action="" method="POST">
  <label> Title</label>
  <input type="text" name="title"><br><br>
  <label>Year</label>
  <input type="text" name="year"><br><br>
  <label>Description</label>
  <input type="text" name="description"><br><br>
  <label> Rating</label>
  <input type="text" name="rating"><br><br>
  <label>Ranking</label>
  <input type="text" name="ranking"><br><br>
  <label>Review</label>
  <input type="text" name="review"><br><br>
  <label>Image URL</label>
  <input type="text" name="img_url"><br><br>
  <button type="submit">Add Movie</button>
</form>
{% endblock %}